@charset "UTF-8";

html, body {
  height: 100%;
  background-color: #000;
}

body {
  font-family:Monaco, monospace;
}

canvas {
  width: 100%;
  height: 100%;
  outline: 0px solid transparent;
  :focus {
    outline: 0px solid transparent;
  }
}

img {
  outline: 0px solid transparent;
  :focus {
    outline: 0px solid transparent;
  }
}

.footer {
  position:absolute;
  bottom:0;
  left:0;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  flex-shrink: 0;
  text-align: center;
  width: 100%;
}

.helper {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #fff;
  font-size: 14px;
  a {
    color: #fff;
    text-decoration: none;
  }
}
